body, html {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat';
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background: url('../images/bg.svg') no-repeat;
    background-size: cover;
    padding-bottom: 500px;
}

#left {
    position: absolute;
    top: 60%;
}

#right {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 1;
}

nav {
    padding: 50px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li a {
    color: #000;
    padding: 0 30px;
}

#logo {
    font-size: 2em;
}

.container {
    text-align: center;
    width: 60%;
    margin: 110px auto;
}

h1 {
    font-size: 3.5em;
}

.container p {
    font-size: 1.3em;
    line-height: 1.4em;
}